# Unity created
/Library/
**/Library/**
/Temp/
**/Temp/**
/Build/
**/Build/**
/obj/
**/obj/**
/Logs/
**/Logs/**

# Unity should not create these
Thumbs.db.meta

# Build logs
TapjoyXcodeUpdatePostBuild.log
AdjustPostBuild*.txt
Google.JarResolver.userprefs.meta
StreamingAssets.meta

# IDEA config files
.idea/
JetBrains.Rider.Unity.Editor.Plugin.Repacked.dll
JetBrains.Rider.Unity.Editor.Plugin.Repacked.dll.meta
Assets/Plugins/ConsoleE/Editor/ConsoleE_TabSettings
Assets/Plugins/ConsoleE/Editor/ConsoleE_TabSettings.meta
*.sln.DotSettings.user
androidDependencies_raw.log

# Find reference tool cache file
Assets/FR2_Cache.asset*
Assets/FR2_Cache.asset
 
 # ===================================== #
 # Visual Studio / MonoDevelop generated #
 # ===================================== #
 ExportedObj/
 *.svd
 *.userprefs
 *.csproj
 *.pidb
 *.suo
 *.sln
 *.user
 *.unityproj
 *.booproj
 *.orig
 *.app
 *.exe
 *.*_data
.vs
.DS_Store
 
 Build/iOS
 Build/android
 
 *.[od]
 
 # ============ #
 # OS generated #
 # ============ #
 .DS_Store
 .DS_Store?
 ._*
 .Spotlight-V100
 .Trashes
 Icon?
 ehthumbs.db
 Thumbs.db
